<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.coffee.mapper.PostMapper">
    <resultMap id="postVO" type="com.example.coffee.vo.PostVO">
        <id column="post_id" property="postId"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="picture_url" property="pictureUrl"/>
        <result column="replynum" property="replynum"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="postVO">
        SELECT
        t.post_id,t.title,t.user_id,t.replynum,
        t.create_time,t.picture_url,
        u.username,u.avatar_url
        FROM forumposts t
        LEFT JOIN users u
        ON t.user_id = u.user_id
        <where>
            <if test="tab == 'hot'">
                date(t.create_time) &lt;= date_add(curdate(), interval 1 day)
                and date(t.create_time) &gt;= date_sub(curdate(), interval 7 day)
            </if>
        </where>
        <if test="tab != 'hot'">
            order by t.create_time desc
        </if>
        <if test="tab == 'hot'">
            order by t.replynum desc, t.create_time desc
        </if>
    </select>
</mapper>