.forumSearch{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 2px solid #f7f5f1 !important;
    background: #f7f5f1;
    height: auto;
}

.forumSearch-title{
    font-size: 16px;
    line-height: 1;
    text-align:left;
    font-weight: 700;
    margin-bottom: 15px;
}
.forumSearch .search-form{
    width: 100%;
    font-size: 15px;
}
.forumSearch .search-form .search-field{
    width: 230px;
    height: 100%;
    padding: 10px 15px;
}
.forumSearch .search-form .search-submit{
    height: 100%;
    width: 80px;
}
.forumSearch .search-form .search-submit:hover{
    background-color:#F8F2EAFF;
    border: 1px solid #76452f;
    color: #76452f;
    font-weight: bold
}
#valueList{
    width: 296px;
    border: 1px solid #76452f;
    border-top: 0;
    display: none;
    background-color: white;
}
.valueListItem{
    width:100%;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    border-bottom: 2px solid #f7f5f1;
    font-size: 14px;
}
.valueListItem:hover{
    cursor: pointer;
    background-color: #f7f5f1;
    color: #76452f;
    margin: 2px 0 0 2px;
    font-weight: bold;
    width:99%
}

.forumtop{
    padding: 5px 40px;
}

.forumtop .btn{
    margin-right:25px;
    padding: 8px 15px;
    border: 1px solid rgba(118, 69, 47, 0.8);
    font-size: 15px;
}

.forumtop .btn:hover{
    background-color:#F8F2EAFF;
    border: 1px solid #76452f;
    color: #76452f;
    font-weight: bold
}

.forumTopic{
    width: 100%;
    padding: 25px;
    margin-top: 30px;
    background: #f7f5f1;
    height: auto;
}
.forumSearch-title{
    font-size: 18px;
    line-height: 1;
    text-align:left;
    font-weight: 700;
    margin-bottom: 15px;
}
.forumTopic-title{
    margin-bottom: 10px;
}
.forumTopicItem{
    border-bottom: 2px solid #EEEEEE;
    line-height: 40px;
}
.badge{
    background-color:#F8F2EAFF;
    border: 1px solid #76452f;
    color: #76452f;
    margin-right: 20px;
}