.forum{
    font-family: 宋体;
    padding: 0px 20px 10px;
}

.personalInfo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#forumListItem{
    padding: 10px;
    border-top: 2px solid #EEEEEE;
}
#forumListItem img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#forumListItem .name{
    margin: 0;
    color: #444444;
}
#forumListItem p{
    margin: 0;
    line-height:1.3rem;
    font-size: 14px;
}
#forumListItem span{
    color: #444444;
    margin-right: 20px;
    line-height:1.3rem;
    font-size: 14px;
}

.forumtop .no{
    color: rgb(33, 37, 41);
    background-color: transparent;
}

.forumtop .yes{
    color: #FFFFFF;
    background-color: #c7a092;
}

.paging{
    margin-top: 20px;
    margin-bottom: 10px;
}
.forumList .pagination .page-item a.page-link {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: #f8f8f8;
    color: #9fa7c5;
    font-size: 14px;
    border: none;
    font-weight: 500;
}