main{
    background-color: #ffffff;
    font-family: 宋体;
}
.forum{
    padding: 0 15px 0 40px;
}
.forumfloor{
    background-color: white;
    border-radius: 1px;
    border: 1px solid #EEEEEE;
    position: relative;
    overflow:hidden;
}
.forumtop{
    padding: 5px 40px;
}
#forumtitle{
    display: inline-block;
    margin: 0;
    line-height: 38px;
}

.userInfo{
    background-color: #f7f5f1;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}
.forumfloor p{
    color: #444444;
    padding-bottom: 20px;
}

.avatar,.lavatar{
    margin: 15px auto;
    padding: 5px;
    background: #FFF;
    width: 120px;
    height: 120px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
.other{
    position: absolute;
    bottom: 5px;
    right: 15px;
}

#review{
    border-top: 3px solid #f7f5f1;
    margin-top: 20px;
    padding: 10px 20px;
}

#review .btn{
    margin-top: 10px;
    background-color: #f7f5f1;
}