.forumList{
    font-family: 宋体;
    padding: 20px;
}
.forumList h3{
    margin-bottom: 20px;
    font-size: 24px;
}
.personalInfo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.forumListItem{
    padding: 10px;
    border-top: 2px solid #EEEEEE;
}
.forumListItem img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.forumListItem .name{
    margin: 0;
    color: #444444;
}
.forumListItem p{
    margin: 0;
    line-height:1.3rem;
    font-size: 14px;
}
.forumListItem span{
    color: #444444;
    margin-right: 20px;
    line-height:1.3rem;
    font-size: 14px;
}
.forumSearch{
    width: 100%;
    padding: 25px;
    margin-top: 75px;
    background: #f7f5f1;
    height: auto;
}
.forumTopic{
    width: 100%;
    padding: 25px;
    margin-top: 30px;
    background: #f7f5f1;
    height: auto;
    font-family: 宋体;
}
.forumSearch-title{
    font-size: 18px;
    line-height: 1;
    text-align:left;
    font-weight: 700;
    margin-bottom: 15px;
}
.forumTopic-title{
    margin-bottom: 10px;
}
.forumTopicItem{
    border-bottom: 2px solid #EEEEEE;
    line-height: 40px;
}
.paging{
    margin-top: 20px;
    margin-bottom: 10px;
}
.forumList .pagination .page-item a.page-link {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: #f8f8f8;
    color: #9fa7c5;
    font-size: 14px;
    border: none;
    font-weight: 500;
}