.personalInfo{
    height: auto;
    background-color: #f7f5f1;
    border: 1px solid #c7a092;
    padding: 20px;
    margin: 0px 20px;
}
.personalInfo img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.personalInfo .btn{
    display: block;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #c7a092;
    margin: 0 auto 20px;
    padding: 5px 15px;
}
.personalInfo .btn:hover{
    background-color: #FFFFFF;
    color: #76452f;
}
.personalDisplay{
    border: 1px solid #c7a092;
    border-radius: 2px;
    padding: 0px;
}
.card{
    display: inline-block;
    border: 2px solid #f7f5f1 !important;
    padding: 15px;
    padding-bottom: 10px;
    margin-left: 45px;
    margin-bottom: 15px;
    background: #FFFFFF;
    height: 250px;
    font-family: 宋体;
}
.card img{
    border-radius: 3px;
}
.card-title{
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}
.card p{
    margin-bottom: 5px;
}
.card .btn{
    margin: 0;
    padding: 5px;
    border: 1px solid #c7a092;
    font-size: 14px;
    height: 30px;
}
.switchingType{
    background-color: #f7f5f1;
}

.nav-tabs .nav-link .active {
    color: #76452f;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link a{
    display: inline-block;
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
}
.nav-tabs .nav-link {
    padding: 0;
    width: 15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0;
}
#forum{
    padding: 15px;
}
#forumListItem{
    padding: 10px;
    border: 2px solid #f7f5f1;
}
#forumListItem .forumTitle{
    display: inline-block;
}
#forumListItem .btn{
    padding: 5px 10px;
    background-color: #f7f5f1;
    border: 2px solid #f7f5f1;
    font-size: 15px;
}
#forumListItem .btn:hover{
    background-color: #c7a092;
    color:#f7f5f1;
    border: 2px solid #f7f5f1;
}
#forumListItem p{
    margin: 5px 0;
    line-height:1.3rem;
    font-size: 14px;
}
#forumListItem span{
    color: #444444;
    margin-right: 20px;
    line-height:1.3rem;
    font-size: 14px;
}

.shopListItem{
    height: 175px;
    border-bottom: 2px solid #EEEEEE;
}
.shopName :hover{
    cursor: pointer;
}
.shopName{
    margin-top: 10px;
    margin-bottom: 5px;
}
.shopListItem img{
    top: 2px;
    width: 120px;
    height: 120px;
    object-fit: none;
    border-radius: 3px;
    margin:0 20px 0 50px;
}
.shopListItem .shopInfo{
    display: inline-block;
    width: 700px;
    padding-left: 10px;
    margin-left: 10px;
}
.shopListItem .btn{
    background-color: transparent;
    border: 1px solid #faeadd;
    padding: 5px 10px;
    width: auto;
}
.shopListItem .btn:hover{
    background-color: #faf1ea;
    color:#76452f
}
.shopMark .collection{
    margin-left: 300px;
    margin-right: 20px;
}
.shopMark .collection i{
    display: inline;
    color: #ffdf7e;
    margin: 2px auto;
}
.shopMark .fa-share{
    display: inline;
    color: #76452f;
    margin: 2px auto;
}
.shopMark{
    height: 35px;
    line-height: 35px;
}
.shopInfo p{
    margin-top: 5px;
    margin-bottom: 5px;
}