.personalInfo{
    height: auto;
    background-color: #f7f5f1;
    border: 1px solid #c7a092;
    padding: 20px;
    margin: 0px 20px;
}
.personalInfo img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.personalInfo .btn{
    display: block;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #c7a092;
    margin: 0 auto 20px;
    padding: 5px 15px;
}
.personalInfo .btn:hover{
    background-color: #FFFFFF;
    color: #76452f;
}
.personalDisplay{
    border: 1px solid #c7a092;
    border-radius: 2px;
    padding: 0px;
}
.card{
    display: inline-block;
    border: 2px solid #f7f5f1 !important;
    padding: 15px;
    padding-bottom: 10px;
    margin-left: 45px;
    margin-bottom: 15px;
    background: #FFFFFF;
    height: 250px;
    font-family: 宋体;
}
.card img{
    border-radius: 3px;
}
.card-title{
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
}
.card p{
    margin-bottom: 5px;
}
.card .btn{
    margin: 0;
    padding: 5px;
    border: 1px solid #c7a092;
    font-size: 14px;
    height: 30px;
}
.switchingType{
    background-color: #f7f5f1;
}

.nav-tabs .nav-link .active {
    color: #76452f;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link a{
    display: inline-block;
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
}
.nav-tabs .nav-link {
    padding: 0;
    width: 15%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0;
}
