
.shopMain{
    padding-top: 105px;
    background: linear-gradient(180deg, #f7f5f1, rgba(255, 249, 242, 1) 43.01%, rgba(230, 211, 204, 1) 100%);
    height: 700px;
}
.shopNav{
    margin: 10px 5px 10px 92px;
    display: block;
    height: 26px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 700;
    opacity: 1;
    font-family: '宋体';
    letter-spacing: 1px;
}

.shopInfo{
    margin: 10px auto;
    width: 900px;
    height: auto;
}
.shopInfo h3{
    color:rgba(97, 69, 37);
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
}

.shopMark i{
    display: inline-block;
    color: #ffdf7e;
    margin-bottom: 20px;
}
.shopMark .btn{
    background-color: transparent;
    border: 1px solid #76452f;
    padding: 5px 10px;
    width: auto;
}
.shopMark .btn:hover{
    background-color: #faf1ea;
    color:#76452f
}
.shopMark  #collection i{
    display: inline;
    color: #faa292;
    margin: 0 auto;
}
.shopMark .fa-share{
    display: inline;
    color: #76452f;
    margin: 0 auto;
}
.basicInfoBlock{
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.basicInfoBlock i{
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid rgba(107, 69, 37, 1);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #76452f;
    font-size: 15px;
}
.basicInfoBlock h5{
    margin-left: 20px;
    display: inline-block;
}
.shopPictureRotation{
    margin: 0 auto;
    width: 480px;
    height: 252px;
    opacity: 1;
    border: 2px solid rgba(107, 69, 37, 1);
}
.detailInfo{
    margin: 20px auto;
}

.shopSearchBlock{
    background-color: #f7f5f1;
}

.shopSearch{
    margin: 0px auto;
    width: 578px;
    height: 40px;
}
